<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>品牌大全</title>
    <link rel="stylesheet" href="lib/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/brand.css">
</head>
<body>

<div class="mmb_container">
    <!--头部-->
    <div class="header">
        <div class="header_logo fl"></div>
        <div class="header_app fr"></div>
    </div>
    
    <!--搜索-->
    <div class="search">
        <input type="text" placeholder="请输入你想比价的商品">
        <button>搜索</button>
    </div>
    
    <!--首页>全部分类>  热门品牌排行-->
    <div class="home"><a href="index.html">首页 &gt;</a><a href="category.html">全部分类 &gt;</a></div>
    <div class="rank">热门品牌排行</div>
    
    <!--内容-->
    <div class="content brand-content">
        <ul>
            <!--dig-->
        </ul>
        
        <!--销量排行-->
        <div class="sold-title">品牌产品销量排行</div>
        <div class="product_info">
            <ul class="clearfix">
                <!--dig-->
            </ul>
        </div>
    
        <div class="comment-title">最新评论</div>
    </div>
    
    <!--最新评论-->
    <div class="comment-list">
        <ul>
            <!--dig-->
        </ul>
    </div>
    
    <!--底部-->
    <div class="footer">
        <div class="back clearfix">
            <a class="">登录</a>
            <a class="">注册</a>
            <a class="fa fa-arrow-up">返回顶部</a>
        </div>
        <div class="mapp">
            <a href="">手机APP下载 慢慢买手机版</a> --掌上比价平台
            <div class="domain">www.mmbuy.com</div>
        </div>
    </div>
</div>

<script type="text/html" id="brandTitleTpl">
    {{each result v i}}
    <div class="item" data-id="{{v.brandTitleId}}">
        <a href="brand.html?brandtitleid={{v.brandTitleId}}">
            <div class="title"><span>{{v.brandTitle}}</span><span class="arrowList fa fa-angle-down"></span></div>
        </a>
    </div>
    
    <div class="list">
        <ul class="clearfix">
            <!--dig-->
        </ul>
    </div>
    {{/each}}
</script>

<script type="text/html" id="brandTpl">
    {{each result v i}}
    <li><a href="product.html?categoryid={{v.categoryId}}">
        <span class="top{{i+1}}">{{i+1}}</span>
        <div class="info">
            <p>{{v.brandName}}</p>
            <p>{{v.brandInfo}}</p>
        </div>
        <i class="fa fa-angle-right"></i>
    </a></li>
    {{/each}}
</script>

<!--商品列表-->
<script type="text/html" id="productTpl">
    {{each result v i}}
    <li class="clearfix" data-id="{{v.productId}}">
        <a href="productDetail.html?productid={{v.productId}}" class="left fl"><%- v.productImg%></a>
        <div class="right">
            <p>{{v.productName}}</p>
            <p class="price">{{v.productPrice}}<span class="five">★★★★★</span></p><p class="quote">{{v.productQuote}}&nbsp;{{v.productCom}}</p>
        </div>
    </li>
    {{/each}}
</script>

<!--商品评论-->
<script type="text/html" id="comTpl">
    {{each result v i}}
    <li>
        <div class="commImg">
            <!--dig-->
        </div>
        <div class="comInfo">
            <div class="clearfix">
                <div class="user fl">{{v.comName}}<span class="five">★★★★★</span></div>
                <div class="com-time fr">{{v.comFrom}}</div>
            </div>
            <div class="from">{{comFrom}}</div>
            <div>{{v.comContent}}</div>
        </div>
    </li>
    {{/each}}
</script>

<script type="text/html" id="commImgTpl">

    <a href="productDetail.html?productid={{result[0].productId}}" class="left fl"><%- result[0].productImg%></a>
    <div class="right">
        <p>{{result[0].productName}}</p>
        <p class="price">{{result[0].productPrice}}</p><p class="quote">{{result[0].productQuote}}&nbsp;{{result[0].productCom}}</p>
    </div>

</script>

<script src="lib/zepto/zepto.min.js"></script>
<script src="js/utils.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="js/brand.js"></script>
</body>
</html>