<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>商品列表</title>
    <link rel="stylesheet" href="lib/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/category.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/moneyproduct.css">
</head>
<body>

<div class="mmb_container">
    
    <!--头部-->
    <div class="header">
        <a href="javascript:history.go(-1);" class="fa fa-angle-left fl"></a>
        国内折扣
        <div class="header_app fr"></div>
    </div>
    
    <!--内容-->
    <div class="content">
        <!--info-->
        <div class="money-detail">
            <!--dig-->
        </div>
        
        <!--前往购买-->
        <a href="javascript:;" class="goBuy">前往购买</a>
        <!--mmb微信二维码-->
        <div class="qrcode"><img src="images/mmbweixin2.png" alt=""></div>
        <!--发表评论-->
        <p>发表评论</p>
        <div class="comm">
            <div class="input"></div>
            <div class="pushComm"><a href="javascript:;">发表评论</a></div>
        </div>
        <p>最新评论</p>
        <!--评论内容-->
        <div class="newest">
            <!--<div class="userLogo"><img src="" alt=""></div>-->
            <!--<div class="comInfo">-->
                <!--<p class="clearfix"><span class="fl">赶鸭子上架</span><span class="fr">2017/11/06 16:08</span></p>-->
                <!--<p>发工资了买买买</p>-->
            <!--</div>-->
        </div>
        <div class="push">
            <!--dig-->
        </div>
        
    </div>
    
    <!--底部-->
    <div class="footer">
        <div class="back clearfix">
            <a class="">登录</a>
            <a class="">注册</a>
            <a class="fa fa-arrow-up">返回顶部</a>
        </div>
        <div class="mapp">
            <a href="">手机APP下载 慢慢买手机版</a> --掌上比价平台
            <div class="domain">www.mmbuy.com</div>
        </div>
    </div>

</div>

<!--商品列表-->
<script type="text/html" id="productTpl">
    {{each result v i}}
    <li class="clearfix">
        <a  class="aWrap clearfix" href="productDetail.html?productid={{v.productId}}">
            <a href="moneyproduct.html?productid={{v.productId}}" class="left fl"><%- v.productImgSm%></a>
            <div class="right">
                <p>{{v.productName}}</p>
                <p class="price">{{v.productPinkage}}</p><span>{{v.productFrom}}{{v.productTime}}&nbsp;{{v.productComCount}}</span>
            </div>
        </a>
    </li>
    {{/each}}
</script>

<!--分页-->
<script type="text/html" id="pageTpl">
    
    <span class="page"><a href="">上一页</a></span>
    <span class="page">
                <select>
                    {{each result v i}}
                        <option value="{{i+1}}">{{i+1}}/{{pagesize}}</option>
                    {{/each}}
                </select>
            </span>
    <span class="page"><a href="">下一页</a></span>

</script>

<!--国内折扣商品详情-->
<script type="text/html" id="moneyTpl">
    {{each result v i}}
    <div class="title">
        <p>{{v.productName}}</p>
        <p class="price">{{v.productPinkage}}</p>
    </div>
    <p class="from">{{v.productFrom}}{{v.productTime}}{{v.productTips}}</p>
    <div class="intro clearfix">
        <%- v.productImgSm%>
        <p>{{v.productInfo}}{{v.productInfo}}</p>
    </div>
    <div class="lgImg">{{@v.productImgLg}}</div>
    {{/each}}
</script>

<!---->
<script type="text/html" id="newestTpl">
    {{@result[0].productComment}}
</script>


<script src="lib/zepto/zepto.min.js"></script>
<script src="js/utils.js"></script>
<script src="lib/artTemplate/template-web.js"></script>
<script src="js/moneyproduct.js"></script>
</body>
</html>