@charset "UTF-8";
.content .item {
  width: 100%;
  height: 1.6rem;
  line-height: 1.6rem;
  background-color: #ededed;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  padding: 0.4rem;
}
.content .item .title {
  width: 100%;
  height: 1.6rem;
}
.content .item span {
  height: 0.8rem;
  line-height: 0.8rem;
}
.content .item span:first-child {
  float: left;
  font-size: 0.6rem;
}
.content .item span:last-child {
  float: right;
  color: #8f8f8f;
  font-size: 0.6rem;
}
.content .item .secondList li {
  width: 33%;
  height: 1.6rem;
  background-color: #f9f9f9;
}
.content .list {
  background-color: #f9f9f9;
  border-bottom: 2px solid #888;
  display: none;
}
.content .list a {
  color: #333;
}
.content .list li {
  height: 1.6rem;
  line-height: 1.6rem;
  width: 33.33%;
  float: left;
  text-align: center;
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 0.4rem;
}
.home {
  height: 1.6rem;
  background: linear-gradient(#fff, #ebebeb);
  margin-bottom: 0.4rem;
  font-size: 0.32rem;
  line-height: 1.6rem;
  padding-left: 0.4rem;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ccc;
}
.rank {
  height: 1.6rem;
  background-color: #eee;
  margin: 0.4rem;
  line-height: 1.6rem;
  padding-left: 0.4rem;
  border: 1px solid #ccc;
  color: #874604;
  font-size: 0.52rem;
}
