@charset "UTF-8";
.content {
  width: 100%;
  height: 100%;
}
.detail {
  width: 100%;
  height: 15.4rem;
}
.product-bijia {
  width: 100%;
  height: 10rem;
  background-color: #fff;
  padding: 0.7rem;
  position: relative;
}
.product-bijia .product-title {
  height: 4rem;
  font-size: 0.36rem;
  text-align: center;
}
.product-bijia .product-img {
  height: 4.6rem;
}
.product-bijia .product-img img {
  display: block;
  height: 100%;
  width: 4.6rem;
  margin: 0 auto;
}
.product-bijia .product-fav {
  position: absolute;
  bottom: 0.8rem;
  right: 1rem;
}
.product-tab {
  height: 1.2rem;
  border-top: 1px solid #c14d00;
  border-bottom: 1px solid #c14d00;
}
.product-tab li {
  width: 33.33%;
  height: 1.16rem;
  line-height: 1.16rem;
  text-align: center;
  float: left;
  background-color: #ff9711;
  border-right: 1px solid #c14d00;
  font-size: 0.36rem;
}
.product-order .title {
  height: 1.72rem;
  border-bottom: 1px solid #dbdbdb;
  font-size: 0.36rem;
}
.product-order .title .left {
  width: 3.4rem;
  line-height: 1.68rem;
  float: left;
  text-align: center;
}
.product-order .title .right {
  width: 5.6rem;
  float: right;
  text-align: center;
  line-height: 1.68rem;
  position: relative;
}
.product-order .title a {
  display: block;
  float: right;
  right: 1rem;
  width: 2rem;
  height: 1rem;
  line-height: 1rem;
  background-color: #ff5500;
  margin-right: 0.2rem;
  margin-top: 0.36rem;
  border-radius: 0.1rem;
}
.product-order .note {
  width: 100%;
  height: 2rem;
  padding: 0.2rem;
  font-size: 0.32rem;
}
.comment-title {
  height: 1.24rem;
  line-height: 1.24rem;
  border-top: 2px solid #7a7a7a;
  font-size: 0.4rem;
  background-color: #dbdbdb;
  text-align: center;
}
.comment-list {
  font-size: 0.24rem;
}
.comment-list .from {
  text-align: right;
}
.comment-list li {
  padding: 0.3rem 0.3rem 0;
}
.comment-list li div:last-child {
  margin-top: 0.2rem;
}
.moreComm {
  width: 100%;
  height: 2.8rem;
  background-color: #fff;
  padding: 0.8rem 0.2rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.moreComm a {
  display: block;
  height: 1.2rem;
  line-height: 1.2rem;
  background-color: #e7e7e7;
  border-radius: 0.2rem;
  text-align: center;
  font-size: 0.28rem;
}
