@charset "UTF-8";
.header {
  background-color: #ff841d;
  text-align: center;
  color: #fff;
}
.header a {
  color: #fff;
  height: 1.36rem;
  line-height: 1.36rem;
}
.sitenav-content {
  padding: 0.4rem 3.6rem;
}
.sitenav-content li {
  height: 1.8rem;
  background-color: #f4f4f4;
  float: left;
  border: 1px solid #ccc;
  padding-right: 0.12rem;
  font-size: 0.48rem;
  margin-bottom: 0.32rem;
  margin-right: 0.32rem;
}
.sitenav-content a {
  display: block;
  height: 1.8rem;
  line-height: 1.8rem;
}
.sitenav-content img {
  display: block;
  float: left;
  height: 0.72rem;
  margin: 0.54rem 0.2rem 0;
}
